<div id="live-chat-<%= user.id %>" class="live-chat">
  <header id="header-<%= user.id %>" class="clearfix">
    <a href="#" id="chat-close-<%= user.id %>" class="chat-close">x</a>
    <span id="user-status-<%= user.id %>" class="user-status offline"></span>
    <h4 id="user-email"><%= user.email %></h4>
    <span id="chat-message-counter-<%= user.id %>" class="chat-message-counter">3</span>
  </header>
  <div id="chat-<%= user.id %>" class="chat">
    <div class="chat-history">
      <div class="chat-message clearfix">
        <img src="http://gravatar.com/avatar/3c0ad52fc5943b78a6aae069cc08f320?s=32" alt="" width="32" height="32">
        <div class="chat-message-content clearfix">
          <span class="chat-time">13:35</span>
          <h5>John Doe</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, explicabo quasi ratione odio dolorum harum.</p>
        </div>
      </div>
      <hr>
      <div class="chat-message clearfix">
        <img src="http://gravatar.com/avatar/2c0ad52fc5943b78d6abe069cc08f320?s=32" alt="" width="32" height="32">
        <div class="chat-message-content clearfix">
          <span class="chat-time">13:37</span>
          <h5>Marco Biedermann</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, nulla accusamus magni vel debitis numquam qui tempora rem voluptatem delectus!</p>
        </div>
      </div>
      <hr>
      <div class="chat-message clearfix">
        <img src="http://gravatar.com/avatar/3c0ad52fc5943b78a6aae069cc08f320?s=32" alt="" width="32" height="32">
        <div class="chat-message-content clearfix">
          <span class="chat-time">13:38</span>
          <h5>John Doe</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
        </div>
      </div>
      <hr>
    </div>
    <p class="chat-feedback">Your partner is typing…</p>
    <form action="#" method="post">
      <fieldset>
        <input type="text" placeholder="Type your message…" autofocus>
        <input type="hidden">
      </fieldset>
    </form>
  </div>
</div>