<div class="ui attached stackable menu">
  <div class="ui container">
    <%= link_to messages_path, class: "item #{'active' if @controller == 'messages' and @action == 'index'}" do %>
      <i class="home icon"></i> Home
    <% end %>
    <%= link_to new_message_path, class: "item #{'active' if @controller == 'messages' and @action == 'new'}" do %>
      <i class="mail icon"></i> Send Message
    <% end %>
    <div id="user-label" class="right item" data-sender-id="<%= current_user.id %>">
      <i class="user icon"></i> <%= current_user.email %>
    </div>
    <%= link_to destroy_user_session_path, method: :delete, class: "right item" do %>
      <i class="sign out icon"></i> SignOut
    <% end %>
  </div>
</div>