<div class="ui vertical fluid menu">
  <%= link_to unread_messages_path, class: "item #{'active' if @controller == 'messages' and @action == 'unread'}" do %>
    Unread
    <div id="unread-messages-number" class="ui teal left pointing label"><%= current_user.unread_messages.count %></div>
  <% end %>
  <%= link_to read_messages_path, class: "item #{'active' if @controller == 'messages' and @action == 'read'}" do %>
    Read
    <div class="ui label"><%= current_user.read_messages.count %></div>
  <% end %>
  <%= link_to sent_messages_path, class: "item #{'active' if @controller == 'messages' and @action == 'sent'}" do %>
    Sent
    <div class="ui label"><%= current_user.sent_messages.count %></div>
  <% end %>
  <%= link_to starred_messages_path, class: "item #{'active' if @controller == 'messages' and @action == 'starred'}" do %>
    Starred
    <div id="starred-messages-number" class="ui label"><%= current_user.starred_messages.count %></div>
  <% end %>
</div>

<div class="ui huge vertical fluid menu">
  <div class="item">
    <div class="ui transparent icon input">
      <input type="text" placeholder="Search mail ...">
      <i class="search icon"></i>
    </div>
  </div>
  <div class="item">
    <div class="header">Users</div>
    <div class="menu">
      <% @users.each do |user| %>
        <a class="item" onclick="widget_trigger(<%= user.id %>, '<%= user.email %>', '<%= user.active_session %>')">
          <i id="state_system_user_<%= user.id %>" class="user icon <%= user.online? ? 'green' : 'gray' %>"></i> <%= user.email.truncate 22 %>
        </a>
      <% end %>
    </div>
  </div>
</div>