<div class="ui vertical menu">
  <%= link_to unread_messages_path, class: "item #{'active' if @controller == 'messages' and @action == 'unread'}" do %>
    Unread
    <div class="ui teal left pointing label"><%= current_user.unread_messages.count %></div>
  <% end %>
  <%= link_to read_messages_path, class: "item #{'active' if @controller == 'messages' and @action == 'read'}" do %>
    Read
    <div class="ui label"><%= current_user.read_messages.count %></div>
  <% end %>
  <%= link_to sent_messages_path, class: "item #{'active' if @controller == 'messages' and @action == 'sent'}" do %>
    Sent
    <div class="ui label"><%= current_user.sent_messages.count %></div>
  <% end %>
  <a class="item">
    Favorites
    <div class="ui label">8</div>
  </a>
  <div class="item">
    <div class="ui transparent icon input">
      <input type="text" placeholder="Search mail...">
      <i class="search icon"></i>
    </div>
  </div>
</div>