<!DOCTYPE html>
<html>
  <head>
    <title>ActionCableTest</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="ui grid main-content bottom attached segment pushable">
      <div id="vertical-sidebar" class="ui labeled icon left inline vertical sidebar menu">
        <%= render "layouts/vertical_nav_bar" %>
      </div>
      <div class="three wide column nav-styles column3">
        <%= render "layouts/vertical_nav_bar" %>
      </div>
      <div id="principal-container" class="pusher thirteen wide column container column13">
        <div class="sixteen wide column">
          <div class="ui attached stackable menu">
            <a id="trigger-vertical-menu" class="item">
              <i class="sidebar icon"></i> Menu
            </a>
            <%= link_to messages_path, class: "item #{'active' if @controller == 'messages' and @action == 'index'}" do %>
              <i class="home icon"></i> Home
            <% end %>
            <%= link_to new_message_path, class: "item #{'active' if @controller == 'messages' and @action == 'new'}" do %>
              <i class="mail icon"></i> Send Message
            <% end %>
            <input id="current-user-id" type="hidden" data-user-id="<%= current_user.id %>">
            <div class="ui dropdown icon right item">
              <i class="user icon green margin-user-status"></i>
              <%= current_user.full_name %>
              <i class="dropdown icon"></i>
              <div class="menu">
                <%= link_to edit_user_registration_path, class: "item" do %>
                  <i class="edit icon"></i> Profile
                <% end %>
                <%= link_to destroy_user_session_path, method: :delete, class: "item" do %>
                  <i class="sign out icon"></i> SignOut
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="dashboard-styles">
          <%= yield %>
        </div>
        <div id="conversations">
          <%= render "layouts/chat_views/chat_widget" %>
        </div>
        <script type="text/javascript">
          $('.live-chat').hide();
          $('.ui.dropdown').dropdown();
          $('.ui.sidebar').sidebar({ context: $('.bottom.segment') }).sidebar('attach events', '#trigger-vertical-menu');
        </script>
      </div>
    </div>
  </body>
</html>